.d2{
    clear: right;
    float: left;
}

.a1{
    clear: left;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.i3{
    display: block;
    margin: auto;
}
.a2{
    position: absolute;
    right: 0;
    width: 600px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.a3{
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.a4{
    clear: right;
    padding: 70px 0;
    border: 3px solid #73AD21;
}
.a5{
    padding: 70px 0;
    border: 3px solid #73AD21;
    text-align: center;
}
.a6{
    line-height: 200px;
    height:200px;
    border: 3px solid #73AD21;
    text-align: center;
}
.a6 p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.a7{
    height:200px;
    border: 3px solid #73AD21;
    position: relative;
}
.a7 p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.o1{
    clear: left;
    margin: auto;
    background-color: coral;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;

}