h2{
    color: rgb(9, 69, 235);
}
#a1{
    color: rgb(204, 33, 11);
}
.a2{
    color: rgb(2, 3, 26);
}
#a1,.a2,p{
    background-color: rgb(238, 233, 213);
}
h3{
    border: 5px solid red;
    border-radius: 7px;
}
p{
    border-style: solid;
}
h1{
    border-style: dashed;
    margin: 20px 700px ;
    padding: 30px 100px;
}
h2{
    border-style: dotted;
}
p.a5{
    border-style: double;
}

table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
td{
    height: 50px;
}